@model IEnumerable<asp.net_mvc_event_manager.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var itemEvent in Model)
    {
        <li>@itemEvent.DateTime - @itemEvent.Artist.Name</li>
    }
</ul>