/* Colors */
$app-color: #ff4342;
$app-color-darker: #a80a0a;
$app-color-darker-transparent: rgba(205, 40, 39, 0.55);
$button-color: #3498db;
$nav-link-color: #fff;
$nav-link-color-hover: #fff;
$badge-text-color: #fff;

/* Fonts */
$main-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-font: "Montserrat", sans-serif;
$main-font-size: 17px;

$app-border-radius: 6px;
$margin-top-helper: 5px;